name: Publish

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
  workflow_dispatch:

jobs:
  docker:
    name: Build Docker image and push
    uses: rees46/workflow/.github/workflows/docker-publish.yaml@master
    permissions: write-all
    with:
      packageName: api-docs

  jenkins:
    name: Trigger jenkins
    needs: docker
    uses: rees46/workflow/.github/workflows/reusable-jenkins-trigger.yaml@master
    permissions: write-all
    with:
      job_name: api-docs
      git_branch_name: ${{ github.ref_name }}
      git_commit: ${{ github.sha }}
      image_tag: latest
      git_commit_msg: ${{ github.event.head_commit.message }}
      git_commit_author: ${{ github.event.head_commit.author.name }}
      git_commit_url: ${{ github.event.head_commit.url }}
    secrets:
      URL: ${{ secrets.JENKINS_URL }}
      USER: ${{ secrets.JENKINS_DEPLOY_USER }}
      TOKEN: ${{ secrets.JENKINS_DEPLOY_TOKEN }}
