name: Publish

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
  workflow_dispatch:

jobs:
  docker:
    name: Build Docker image and push
    uses: rees46/workflow/.github/workflows/docker-publish.yaml@master
    permissions: write-all
    with:
      packageName: api-docs
